//colors
$azul-claro: #87caf7;
$azul-escuro: #298aca;
$preto: #222222;
$branco: #f6f6f6;

//fonts
$size-mb: .8rem;
$size-tb: 1rem;
$size-dt: 1.3rem;
$size-t-mb: 1.2rem;
$size-t-tb: 1.5rem;
$size-t-dt: 2.3rem;

//borders
$radius: 24px;
$radius-2: 8px;
