@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');
@import '../vars.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
    min-height: 100vh;
    background-color: $branco;
}

.container{
    padding: 0 10%;
    background-color: transparent;
    @media (max-width: 890px){
        padding: 0 5%;
    }
}

.titulo{
    font-size: $size-t-tb;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: bolder;

    @media (max-width: 890px){
        font-size: $size-t-mb;
    }
}