@import "../vars.scss";

.galeria {
  img {
    width: 100%;
    height: 100%;
  }

  .fotos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

    @media (max-width: 890px) {
      justify-content: center;
    }

    .foto-salva {
      width: 300px;
      height: 300px;
      background-color: #eee;
      border-radius: $radius-2;
      cursor: pointer;

      @media (max-width: 890px) {
        width: 100%;
      }
    }
  }
}

.hidden {
  display: none;
}

.preview {
  border-radius: 8px;
  border: 1px solid #ddd;
  margin: 10px 0;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: #e8e8e8f7;
  z-index: 99999;
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  padding: 4%;

  .close {
    position: absolute;
    right: 20px;
    font-size: 32px;
    padding: 20px;
    top: 20px;
    cursor: pointer;
  }

  .modalCentro {
    display: flex;
    flex-direction: column;
    gap: 20px;

    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.153);
    border: 2px solid rgba(222, 222, 222, 0.622);
    border-radius: 12px;

    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      border-bottom: 1px solid rgba(198, 198, 198, 0.622);
      width: 60vw;
      height: 70vh;

      @media (max-width: 890px) {
        width: 80vw;
        height: 50vh;
      }
      @media (max-width: 480px) {
        width: 80vw;
        height: 30vh;
      }
    }

    p {
      line-height: 28px;
      padding-top: 40px;
      font-size: 22px;
      font-weight: 600;
    }
  }
}
